
<h1>Contact Page</h1>
<%= Time.now %>


<% @members.each do |member| %>
<p><%= member %></p>
<% end %>



<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?">
  <input type="submit">
</form>

<%= link_to "Go Back To About", about_path  %>
